@model ActivitySystem.Models.Activity

@{
    ViewData["Title"] = "活動細節";
}

<h1>活動細節</h1>
@await Html.PartialAsync("_MessageNotification", TempData["Message"])
<div>
    <h4>@Model.ActivityName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignUpStartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignUpStartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignUpEndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignUpEndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EnrollCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlreadyEnrollCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlreadyEnrollCount)
        </dd>
        <dt class="col-sm-2">
            活動建立人
        </dt>
        <dd class="col-sm-10">
            @ViewData["CreateUserName"]
        </dd>
    </dl>
</div>
<div>
    @{
        if ((bool)ViewData["EnrollBtn"])
        {
            <form asp-controller="Home" asp-action="Enroll" method="post" style="display:inline;">
                <input type="hidden" asp-for="ActivityId" />
                <input type="submit" value="報名" class="btn btn-primary" />
            </form>
        }

        if ((bool)ViewData["EditDelBtn"])
        {
            <a class="btn btn-success" asp-action="Edit" asp-route-activityId="@Model.ActivityId">編輯</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-activityId="@Model.ActivityId">刪除</a>
        }
    }
    <a class="btn btn-info" asp-action="Index">回首頁</a>
</div>
