@model ActivitySystem.Models.Activity

@{
    ViewData["Title"] = "View";
}

<h1>活動細節</h1>

<div>
    <h4>@Model.ActivityName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignUpStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignUpStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivitySignUpEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivitySignUpEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnrollCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnrollCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlreadyEnrollCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlreadyEnrollCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityId">編輯</a> |
    <a asp-action="Index">回首頁</a>
</div>
